@import '../../../variables.scss';
:host{
    display: flex;
    flex-direction: column;
}
.productImage{
    margin-left: 16px;
}

.productPrice{
    font-size: 30px;
    font-weight: 500;
    margin-top: 30px;
    margin-right: 16px;
    color: $warn;
}

.productContent{
    font-size: 18px;
}

mat-card{
    margin-bottom: 25px;
}