<div fxLayout="row">
    <div fxFlex>
        <h2>Logowanie</h2>
        <form [formGroup]="loginForm" fxLayout="column" (submit)="login()" class="loginForm">
            <mat-form-field appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput formControlName="username" placeholder="Podaj swój email">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Hasło</mat-label>
                <input type="password" matInput formControlName="password" placeholder="Podaj hasło">
            </mat-form-field>
            <div *ngIf="loginError" class="error">Podaj poprawne dane logowania</div>
            <button mat-flat-button color="primary">Zaloguj</button>
        </form>
    </div>
    <div fxFlex>
        <h2>Rejestracja</h2>
        <form [formGroup]="registerForm" fxLayout="column" (submit)="register()" class="registerForm">
            <mat-form-field appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput formControlName="username" placeholder="Podaj swój email">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Hasło</mat-label>
                <input type="password" matInput formControlName="password" placeholder="Podaj hasło">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Powtórz hasło</mat-label>
                <input type="password" matInput formControlName="repeatPassword" placeholder="Powtórz hasło">
            </mat-form-field>
            <div *ngIf="registerError" class="error">{{registerErrorMessage}}</div>
            <button mat-flat-button color="primary">Zarejestruj się</button>
        </form>
    </div>
</div>
<div class="lostPassword">
    <a routerLink="/lostPassword">Zapomniałeś hasła?</a>
</div>